<div class="p-12">
  <div class="max-w-xs rounded bg-gray-50 p-6 space-y-12">
    <div class="titles flex items-center justify-between">
      <h1 class="font-semibold">Filter By</h1>
      <button 
      class=" bg-none text-green-600 hover:text-green-400 font-semibold transition"
      >
        Reset Filters
      </button>
    </div>
    <div class="spliter border-2 border-gray-300 rounded-full"></div>
    <div class="checkbox-list space-y-2">
      <p class="text-gray-500">Type</p>
    <div class="">
      <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">Dog</span>
       </label>
       <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">Cat</span>
       </label>
    </div>
    </div>

    <div class="checkbox-list space-y-2">
      <p class="text-gray-500">Gender</p>
    <div class="">
      <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">Male</span>
       </label>
       <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">Female</span>
       </label>
    </div>
    </div>

    <div class="checkbox-list space-y-2">
      <p class="text-gray-500">Age</p>
    <div class="">
      <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold"> Under 3 Months</span>
       </label>
       <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">3 Months - 6 Months</span>
       </label>
       <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">6 Months - 1 Year</span>
       </label>
       <label for="" class="block space-x-4">
        <input type="checkbox" class="rounded text-green-500 border-gray-500">
        <span class="font-semibold">More  than 1 Year</span>
       </label>
    </div>
    </div>

    <div class="checkbox-list space-y-2">
      <p class="text-gray-500">Color</p>
    <div  class=" flex space-x-4 items-center">
      <label for="" class=" space-x-4 flex">
          <div class="rounded-full w-6 h-6 bg-red-700"></div>
       </label>
      <label for="" class=" space-x-4 flex">
          <div class="rounded-full w-6 h-6 bg-green-700"></div>
       </label>
      <label for="" class=" space-x-4 flex">
          <div class="rounded-full w-6 h-6 bg-black"></div>
       </label>
      <label for="" class=" space-x-4 flex rounded-full border-gray-400 border-4 p-[2px]">
          <div class="rounded-full w-6 h-6 bg-yellow-500"></div>
       </label>
    </div>
    </div>
  </div>
</div>